.Layout {
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media (min-width: 767px) {
    padding-right: 250px;
  }

  @media (min-width: 1024px) {
    padding-right: 450px;
  }  
  
  main {
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto;
    width: 100%;
  }
}
